@model _8pos.Models.Entity.PosUser
@section css{
    <link rel="stylesheet" href="~/Content/Css/details.css" />
    <link rel="stylesheet" href="~/Content/Css/create.css" />
    <link rel="stylesheet" href="~/Content/Css/colors.css" />
    <link rel="stylesheet" href="~/Content/Css/flaticon.css" />
}
<div class="detail">
    <div class="container">
        <div class="flex-content">
            <div class="validation-icon flex-content">
                <i class="flaticon-clock"></i>
            </div>
        </div>
        <div class="text-center">
            <h1>Account create!</h1>
            <h4>We send a confirmation to you, please verify your email to continue with the website create process.</h4>
        </div>
        <br />
        <form>
            <div class="flex-content">
                <div>
                    <a href="/" class="btn btn-orange">Home</a>
                </div>
            </div>
        </form>
    </div>
</div>
