
@{
    ViewBag.Title = "CreateWebsite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/Css/details.css" />
}

<header class="flex-content">
    <div class="parallax" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/Content/Images/create_header.png');"></div>
    <div class="container">
        <h1>CREATE YOUR WEBSITE</h1><br>
        <p>
            Get in now on the virtual universe and gain more visibility in your business
        </p>
    </div>
</header>
<section class="detail">
    <div class="container">
        <h1>How it works</h1>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Build your website quickly and simply with the face of your business and show your customers and the world everything you have to offer. In addition, with your
                    website created you can manage your orders, schedule services and delivery to customers, integrate e-commerce service, inventory and more. To start your website
                    you need to register in the 8POS and than follow four easy steps. So let’s see more details of each one.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <h2>Basic Informations</h2>
                <p>
                    Start with your basic informations to your customers. Talk about the company’s name, type of industry, email, phone number and address.
                </p>
                <p>
                    Is very important you add your company logo but if you haven’t there’s is no problem, you can choose one in our Logo Library.
                </p>
                <p>
                    If you are an informal professional you can also put a profile picture to be known to your costumers.
                </p>
            </div>
            <div class="col-xs-12 col-md-7">
                <img class="img-responsive" src="../Content/Images/create_1.png">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7">
                <h2>Products and Services</h2>
                <p>
                    At this point it is time to describe your business products or services.
                </p>
                <p>
                    Add information like name, price, category (or create one), description e insert some picture presenting the product or service. You need to add  one image at least, but you can also add more if you want.
                </p>
                <p>
                    To be fast, add one product or service  but if you want add more you can do it too. Remember, it is very important be sure about all products informations, it will be crucial to your customers decision and for your business image.
                </p>
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <img class="img-responsive" src="../Content/Images/create_2.png">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <h3>Customize</h3>
                <p>
                    It is time to choose the look of your website. Select a theme and color pattern. You can see a preview of your choices and select the best one and also add a slogan with the company’s concept.
                </p>
                <p>
                    Be careful with the quantity of informations in the page. Be sure that the focus of your site is your company and services.
                </p>
            </div>
            <div class="col-xs-12 col-md-7">
                <img class="img-responsive" src="../Content/Images/create_3.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Resume</h3>
                <p>
                    In the end, you just need check if all your choices are correct than you can publish your website. Simple and easy!
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="flex-content">
                <div class="panel">
                    <div class="panel-body">
                        <p>
                            <strong>
                                Expand your business
                            </strong>
                        </p>
                        <br>
                        <a href="/User/SignIn" class="btn btn-orange">Start now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>