
@{
    ViewBag.Title = "DevelopersArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/Css/details.css" />
}

<header class="flex-content">
    <div class="parallax" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/Content/Images/developers_header.jpg');"></div>
    <div class="container">
        <h1>DEVELOPERS AREA</h1><br>
        <p>
            Show all your knowledge in technology by developing applications for 8POS systems and presenting your potential to the world.
        </p>
    </div>
</header>
<section class="detail">
    <div class="container">
        <h1>What Is Developers Area</h1>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <p>
                    This area contains the content needed for software development professionals to apply their expertise in designing systems for the 8POS platform. Here you will find all the mandatory guidelines for future applications to maintain the standard and visual bases adopted for the company.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="panel">
                    <div class="panel-body">
                        <p>
                            <strong>
                                Register in the system and show your full potential.
                            </strong>
                        </p>
                        <br>
                        <a class="btn btn-orange disabled">Soon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>