
@{
    ViewBag.Title = "Ecommerce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/Css/details.css" />
}

<header class="flex-content">
    <div class="parallax" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/Content/Images/ecommerce_header.png');"></div>
    <div class="container">
        <h1>E-COMMERCE</h1><br>
        <p>
            The benefits of e-commerce include its around-the-clock availability, the speed of access,<br>
            the wide availability of goods and services for the consumer, easy
            accessibility, and international reach.
        </p>
    </div>
</header>
<section class="detail">
    <div class="container">
        <h1>What is E-Commerce</h1>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <p>
                    Electronic commerce or e-commerce is a term for any type of business, or commercial transaction, that involves the transfer of information across the Internet. It
                    covers a range of different types of businesses, from consumer based retail sites, through auction or music sites, to business exchanges trading goods and services
                    between corporations. It is currently one of the most important aspects of the Internet to emerge.
                </p>
                <p>
                    E-commerce allows consumers to electronically exchange goods and services with no barriers of time or distance. Electronic commerce has expanded rapidly over the
                    past five years and is predicted to continue at this rate, or even accelerate. In the near future the boundaries between "conventional" and "electronic" commerce
                    will become increasingly blurred as more and more businesses move sections of their operations onto the Internet.
                </p>
                <p>
                    The e-commerce market continues to grow: Online sales accounted for more than a third of total U.S. retail sales growth in 2015, according to data from the U.S.
                    Commerce Department. Web sales totaled $341.7 billion in 2015, a 14.6% increase over 2014. E-commerce conducted using mobile devices and social media is on the rise
                    as well: Internet Retailer reported that mobile accounted for 30% of all U.S. e-commerce activities in 2015.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="panel">
                    <div class="panel-body">
                        <p>
                            <strong>
                                Look for the future, start your business
                            </strong>
                        </p>
                        <br>
                        <a class="btn btn-orange disabled">Soon</a>
                    </div>
                </div>
            </div>
        </div>
        <h1>Looking for the future</h1>
        <p>
            The benefits of e-commerce include its around-the-clock availability, the speed of access, the wide availability of goods and services for the consumer, easy
            accessibility, and international reach. Its perceived downsides include sometimes-limited customer service, consumers not being able to see or touch a product prior
            to purchase, and the necessitated wait time for product shipping.
        </p>
        <h1>Benefits for customers</h1>
        <p>
            Quick, easy and convenient: E-commerce has enabled the consumer to complete transactions from the comfort of their own home, transactions that would usually happen
            within the walls of a store. Transactions now take only minutes, rather than the hours included in physically getting to the stores.
        </p>
        <p>
            Product comparisons: Not only are consumers finding it quick and more convenient to shop online but they are also making more comparisons than ever. Comparing the
            price, delivery time and product specifications have never been simpler. Quickly browsing multi websites that stock products that suite your criteria is as simple.
            Consumers can now compare multiple products in minutes.
        </p>
        <p>
            Lower prices: Many consumers are turning to e-commerce for their needs due to the lower price for many everyday items. Different factors on the merchant's side of
            the equation allow them to sell products at a lower price compared to a standard store and these cost savings are often passed to the end consumer.

        </p>
        <h1>Benefits for merchants</h1>
        <p>
            Reduced costs: End consumers are treated to lower prices and this is all due to reduced costs for the merchant. Online retailing requires no sales staff, hence a
            reduced labour cost. Electronic payments which are often automatically tracked and linked to accounting software results in reduced paper work and reduced errors
            in data entry. Costs involved the maintenance of a physical storefront are also removed, with the major cost of e-commerce going to warehousing and product storage.
        </p>
        <p>
            Shorter time frames: E-commerce allows for highly reduces lead times, as well as the more efficient delivery of products.
        </p>
        <p>
            Increased consumer reach: E-commerce allows online merchants to stock a larger product range than a traditional store. This larger product range means more products
            are suited to a larger consumer base and hence greater possible reach. E-commerce stores are also available from anywhere, interstate and international customers
            are no longer a missed segment - this results in a massively increase possible consumer base.

        </p>
    </div>
</section>