
@{
    ViewBag.Title = "Marketplace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/Css/details.css" />
}

<header class="flex-content">
    <div class="parallax" style="background-image: url('/Content/Images/marketplace_header.png');"></div>
    <div class="container">
        <h1>MARKETPLACE</h1><br>
        <p>
            Find the right professional to your needed. Rate the professional and his service or product.
            <br>
            Your opinion can help other people to solve their problems too.
        </p>
    </div>
</header>
<section class="detail">
    <div class="container">
        <h1>What is Marketplace</h1>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <p>
                    For users who are familiar with technology and seek to solve their needs quickly there is Market Place, an online platform where you can browse various categories of
                    professionals and contact the one that meets your expectations. You can also collaborate with the community by posting your comments regarding the professional you
                    have contracted and the quality of your services or products.
                </p>
                <p>
                    Marketplaces are platforms where sellers offer their products and services to potential buyers. While a
                    virtual store only has one owner, a marketplace gathers many stores, from different owners, who can even sell the same products at different prices.
                </p>
                <p>
                    In the marketplace,
                    the customer finds competition and this means greater power of choice and better prices. For those who sell, the advantage is visibility. Selling your products in a
                    marketplace means being able to be found more easily by the buyer.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="panel">
                    <div class="panel-body">
                        <p>
                            <strong>
                                Find the right professional to your needed.
                            </strong>
                        </p>
                        <br>
                        <a class="btn btn-orange disabled">Soon</a>
                    </div>
                </div>
            </div>
        </div>
        <h1>How it works</h1>
        <br>
        <p>
            Contributing to the community is also easy. After the service performed or product delivered, you can add details about your experience with the professional through
            comments on his page and rank your satisfaction level. That way you help other people make the right decision when choosing a professional.
        </p>
        <p>
            To have your work exposed
            in Marketplace register in the system and create your webpage with your professional information and description of your products or services.
        </p>
    </div>
</section>